body {
    margin: 0px;
    background-size: cover;
}

#body_container {
    margin: 0px;
    height: 100%;
}

.header {
    border-bottom: 4px solid rgb(215,244,230);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_icon {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

.logo_box {
    margin-left: 20px;
    margin-right: 220px;
    width: fit-content;
    display: flex;
    align-items: center; /* vertical align*/
}

    .logo_box img {
        margin: 8px 0px 0px 0px;
        padding: 0px;
        width: 50px;
        height: 50px;
    }

#web_app_name {
    margin: 8px 0px 0px 5px;
    padding: 0px;
    font-size: 25px;
    font-family: 'Fira Code';
    font-weight: bold;
}



.menu_icon div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.menu_bar {
    margin-top: 8px;
    align-content: center;
}

    .menu_bar h3 {
        display: inline;
        margin-right: 30px;
        font-family: Fira Code;
        font-size: 14px;
        cursor: pointer;
    }

        .menu_bar h3:hover {
            /* text-decoration: underline; */
            border-bottom: 3px solid black;
        }

#menu_widgets {
    border-bottom: 3px solid black;
}

.content_pane {
    margin: auto;
    margin-top: 70px;
    /* border: 1px solid red; */ /* i use borders to see where the html elements are before I position them */
    width: 99%;
    font-family: 'Fira Code';
    font-weight: bold;
    display: flex;
}

.left_panel {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
    height: 50vh;
    background-color: rgb(85,208,156);
    border: 1px solid black;
    box-shadow: 4px 6px lightgray;
}

    .left_panel input {
        width: 100%;
    }

.strike {
    text-decoration: line-through;
}

td {
    width: 150px;
    max-width: 150px;
    object-fit: contain;
    /*
    border: 1px solid white;
    background-color: lightgray;
    */
    padding: 5px;
}

.left_panel h2 {
    border-bottom: 3px solid black;
}

.right_panel {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: fit-content;
    background-color: rgb(85,208,156);
    border: 1px solid black;
    box-shadow: 4px 6px lightgray;
}

    .right_panel h2 {
        border-bottom: 3px solid black;
    }


.page_image {
    width: 95%;
    height: 87%;
    background-color: aliceblue; /* can remove this - it's just for visualization */
}

.margins {
    margin-top: 50px;
}

.padding {
    padding-left: 100px;
    padding-right: 100px;
}

.bg-image {
    background-image: url("../Dashboard/content images/calendar.jpg");
    background-size: cover;
    background-position: top;
    margin-top: 0px;
    width: 100%;
    min-height: 600px;
}

.page_image {  
    width: 500px;
    height: 500px;
    margin-left: 70px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
    object-fit: fill;
}

@media screen and (min-width: 320px) {
}

/* ABOUT US */

body {
    font-family: 'Fira Code';
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: inherit;
    width: 35.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: white;
    color: black;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: white;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

