html, body{
    font-family: 'Fira Code';
    min-height: 150px;
    width: 386px;
}

p{
    font-size: 14px;
}
.version{
    opacity: 50%;
    font-size: 75%;
}
.version:hover{
    opacity: 100%;
    color: indianred;
}

a:hover{
    opacity: 75%;
}

.link_button button{
    background-color: #008CBA;
    color: seashell;
    justify-content: space-around;
    margin: auto;
    font-size: 16px;
    font-family: 'Fira Code';
    border-style: double;
    border-color: transparent;
    opacity: 100%;
}

#body_container{
    margin: 0px;
    height: 80%;

}

.header{
    margin-right: 10px;
    margin-left: -5px;
    border-bottom: 4px solid rgb(215,244,230);
    padding-bottom: 5px;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
}

.logo_box{
    margin: auto;
    width: fit-content;

    display: flex;
    align-items: center; /* vertical align*/
}

.logo_box img{
    margin: 8px 0px 0px 0px;
    padding: 4px;
    width: 30px;
    height: 30px;
}

.title_info{
    margin: 8px 0px 0px 5px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Fira Code';
    font-weight: bold;
}

.tool_tip{
    position: relative;
    display: inline-block;
}
.tool_tip .tool_tip_msg{
    visibility: hidden;
    width: fit-content;
    background-color: rgb(109, 109, 109);
    color: honeydew;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;

    position: absolute;
    bottom: 100%;
    right: 1%;
}
.tool_tip:hover .tool_tip_msg{
    visibility: visible;
}