#body_container{
    margin: 0px;
    height: 100%;

}

.header{
    
    border-bottom: 4px solid rgb(215,244,230);
    padding-bottom: 5px;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
}

.logo_box{
    margin: auto;
    width: fit-content;

    display: flex;
    align-items:center; /* vertical align*/
}

.logo_box img{
    margin: 8px 0px 0px 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

#web_app_name{
    margin: 8px 0px 0px 5px;
    padding: 0px;
    font-size: 25px;
    font-family: 'Fira Code';
    font-weight: bold;
}

.menu_icon{
    float: right;
    margin-right: 50px;

    cursor: pointer;
    position: relative;
    bottom: 45px;
}

.menu_icon div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;

}