body{
    margin: 0px;
    /*background-image: url(background.png);*/
    background-size: cover;
}

#body_container{
    margin: 0px;
    height: 100%;

}

.header{
    
    border-bottom: 4px solid rgb(215,244,230);
    padding-top: 10px;
    padding-bottom: 15px;
    
    font-size: 10px;
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items:center;
}

a{
    text-decoration: none;
    color: #000;
}

.logo_box{
    margin-left: 20px;
    margin-right: 220px;
    width: fit-content;

    display: flex;
    align-items:center; /* vertical align*/
}

.logo_box img{
    margin: 8px 0px 0px 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

#web_app_name{
    margin: 8px 0px 0px 5px;
    padding: 0px;
    font-size: 25px;
    font-family: 'Fira Code';
    font-weight: bold;
}


.menu_icon{
    
    margin-right: 50px;

    cursor: pointer;
    position: absolute;
    bottom: 660px;
    left: 1450px;
}

.menu_icon div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;

}

.menu_bar {
    margin-top: 8px;
}
.menu_bar h3{
    display: inline;
    margin-right: 30px;

    font-family: 'Fira Code';
    font-size: 14px;
    cursor: pointer;
}

.menu_bar h3:hover{
    /* text-decoration: underline; */
    border-bottom: 3px solid black;
}

#menu_todo{
    border-bottom: 3px solid black;
}

.content_pane{
    margin: auto;
    margin-top: 70px;
    /* border: 1px solid red; */ /* i use borders to see where the html elements are before I position them */
   
    width: 99%;

    font-family: 'Fira Code';
    font-weight: bold;
    display: flex;
}

.left_box{
    margin-left: 40px;
    margin-right: 70px;
    padding-top: 10px;
    padding-left: 10px;
    width: 20%;
    height: 500px;

    background-color: rgb(85,208,156);
}



.page_image{
    width: 95%;
    height: 98%;
    
     /* background-color: aliceblue; can remove this - it's just for visualization */
}

.right_box{
    width: 65%;
    /* height: 500px;*/

    /*background-color: rgb(85,208,156);*/
}

@media screen and (min-width: 320px) {
   

}

/* to do list styling */

  
  .right_box {
    font-family: 'Fira Code';
    /*min-height: 100vh;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: rgb(85,208,156);
    box-sizing: border-box;
  }

  #to-do-heading{
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding:0px;
      font-size: 15px;
  }

  #to-do-heading h2{
      margin: 0px;
      padding: 0px;
      text-decoration: underline;
  }
  
  .todo-container {
    width: 100%;
    min-height: 55vh;
    display: flex;
    
  }
  
  .status {
    width: 25%;
    /*background-color: #f3f3f3;*/
    border-right: 4px solid rgb(243, 243, 243);
    position: relative;
    padding: 60px 1rem 0.5rem;
  }

  #completed{
      border-right: none !important;
  }
  
  .status h2 {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #343434;*/
    color: #000000;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 6px;
  }
  
  #add_btn {
    border-radius: 25px;  
    padding: 0.5rem 1rem;
    background-color: rgb(67, 255, 177);
    outline: none;
    border: 2px solid rgb(32, 140, 95);
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Fira Code';
    margin: 0.5rem 0;
    cursor: pointer;
  }
  
  #add_btn:hover {
    background-color: rgb(175, 251, 219);
  }
  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    margin: 0.5rem 0;
  }
  
  .todo .close {
    position: absolute;
    right: 1rem;
    top: 0rem;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .todo .close:hover {
    color: #343444;
  }



  
  /********* modal ***********/
  
  .close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
  }
  
  .modal {
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 2;
    background-color: #fff;
  }
  
  .modal.active {
    top: 15%;
  }
  
  .modal .header {
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    padding-left: 20px; 
    background-color: rgba(0, 0, 0, 0.05);

    font-family: 'Fira Code';
    font-size: 15px;
  }
  
  .modal .body {
    padding: 0.75rem;
  }
  
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  #overlay.active {
    display: block;
  }
  
  #todo_input,
  #todo_submit {
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
  }

  #todo_input{
      border: 1px solid black;
  }
  
  #todo_submit {
    background-color:rgb(36, 238, 154);
    color: #191919;
    font-size: 1rem;
    font-family: 'Fira Code';
    font-weight: bold;
    border: none;
  }

  #userCard {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  #logoutButton {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: .25rem;
  }